.text.asd(:color="'primary'", a="b", disabled="true")
// asdrf s
.text(
  :disabledq="true",
  disabled="true",
  disabledq="true",
  disabledq="true",
  disabledq="true",
  v-else="true",
  xisabledq="true",
  xolor="primary"
)
  span.text(color="primary", disabled="true")
    CodeMentorComponent
